<div>
    <div class="btns-container">
      <button type="button" class="arrow-btn" (click)="decreaseMonth()" value="-"></button>
      <div class="month">
        {{displayMonth}}, {{displayYear}}
      </div>
      <button type="button" class="arrow-btn" (click)="increaseMonth()" value="+"></button>
      <button type="button" class="today-btn"(click)="setCurrentMonth()" value="today">Сегодня</button> 
    </div>
  </div>

  <table class='calendar-table' *ngIf="calendar">
    <thead>
      <tr>
        <th>Понедельник</th>
        <th>Вторник</th>
        <th>Среда</th>
        <th>Четверг</th>
        <th>Пятница</th>
        <th>Суббота</th>
        <th>Воскресенье</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of calendar | chunk: 7; let i = index">
        <td class="calendar-day" [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday}" *ngFor="let c of row; let j = index" (click)="showEventWindow($event,c,i,j)" attr.value1="{{i}}" attr.value2="{{j}}">
          <div class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}"><strong>{{c.date.getDate()}}</strong> <strong *ngIf="c.isToday || c.isLastDayOfPreviousMonth || (c.date.getDate() == 1)"> {{monthNames[c.date.getMonth()]}}</strong><strong *ngIf="c.isToday">, Сегодня</strong></div>
          <div class="event-text" *ngIf="c.events">
            {{c.events.eventTitle}}
            <br>
            {{c.events.eventNames}}
            <br>
            {{c.events.eventDescription}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="event-modal" *ngIf="isShowEventWindow" [style.top]="topPosition" [style.left]="leftPosition">
    <button class="close-btn" (click)="closeEventWindow()" (click)="eventForm.reset()"></button>
    <form [formGroup]="eventModalForm"  #eventForm>
      <mat-form-field appearance="outline">
        <mat-label>Событие</mat-label>
        <input matInput formControlName="eventTitle">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>День,Месяц,Год</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [formControl]="datePick"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Имена участников</mat-label>
        <input matInput  formControlName="eventNames">
        
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Описание</mat-label>
        <textarea matInput  formControlName="eventDescription"></textarea>
      </mat-form-field>
      <button class="button-submit" (click)="submitEventForm()" [disabled]="eventModalForm.invalid">Готово</button>
      <button class="button-delete" (click)="deleteEvent()">Удалить</button>
    </form>
    
  </div>

  